.venv/
venv/
__pycache__/
*.pyc
.DS_Store
.env
.vscode/
dist/
build/
*.egg-info/

# Ignore frontend & backend modules / build artifacts
node_modules/
medinexa-frontend/node_modules/
medinexa-frontend/dist/
medinexa-backend/target/
medinexa-backend/.mvn/
medinexa-backend/bin/
